<div class="container">
  
  <h6 class="border-bottom border-gray pb-2 mb-0"><i class="far fa-comment-alt"></i> <%= pluralize(@post.comments_count, "Comment")%></h6>

  <% @post.comments.parent_comments.each do |c| %>
    <div class = "border-bottom border-gray pb-2">
      <%= render "comments/comment", comment: c %>

      <% if c.replies.present? %>
        <% c.replies.each do |r| %>
          
          <div class="d-flex align-items-center justify-content-start">
            
            <div class="ml-5">
              <%= render "comments/comment", comment: r %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <small class="d-block text-right mt-3">
    <a href="#">More Comments</a>
  </small>
  
</div>